




<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta http-equiv="refresh" content="3; url={{ path('courses') }}" />
</head>
<body>
oi
</body>
</html>
